/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* ==========================================================================
   Links
   ========================================================================== */
*:focus {
  outline: none;
}
*:active,
*:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
pre {
  margin: 0px;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   Opinionated defaults
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
* {
  padding: 0px;
  margin: 0px;
}
img {
  border: none;
}
ul {
  list-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
html,
body,
button,
input,
select,
textarea {
  color: #343434;
  font-family: 'Proxima Nova', sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
a,
button {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a,
a:hover,
a:focus {
  color: #0082c6;
  text-decoration: none;
  cursor: pointer;
  outline: none !important;
}
a:hover,
a:hover:hover,
a:focus:hover {
  text-decoration: none;
}
.color-black-blue {
  color: #323a44 !important;
}
.color-blue-grey {
  color: #6c7a86 !important;
}
.color-blue-grey-lighter {
  color: #919fa9 !important;
}
.color-blue {
  color: #00a8ff !important;
}
.color-purple {
  color: #ac6bec !important;
}
.color-yellow {
  color: #fed832 !important;
}
.color-lime {
  color: #afed3e !important;
}
.color-green {
  color: #46c35f !important;
}
.color-red {
  color: #fa424a !important;
}
.color-orange {
  color: #fdad2a !important;
}
.semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.font-16 {
  font-size: 1rem;
}
.font-14 {
  font-size: .875rem;
}
.font-11 {
  font-size: .6875rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1.2rem;
}
h1 .text-muted,
h2 .text-muted,
h3 .text-muted,
h4 .text-muted,
h5 .text-muted,
h6 .text-muted {
  display: inline;
  font-size: 80%;
}
h1 .text-muted.smaller,
h2 .text-muted.smaller,
h3 .text-muted.smaller,
h4 .text-muted.smaller,
h5 .text-muted.smaller,
h6 .text-muted.smaller {
  font-size: 65%;
}
h1 .label,
h2 .label,
h3 .label,
h4 .label,
h5 .label,
h6 .label {
  font-size: 75% !important;
}
h1.with-border,
h2.with-border,
h3.with-border,
h4.with-border,
h5.with-border,
h6.with-border {
  border-bottom: solid 1px #d8e2e7;
  padding-bottom: .8rem;
}
h1 {
  font-size: 2.5rem /*40/16*/;
  margin-top: 0;
}
h2 {
  font-size: 2rem /*32/16*/;
}
h3 {
  font-size: 1.75rem /*28/16*/;
}
h4 {
  font-size: 1.5rem /*24/16*/;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem /*16*/;
}
/* Текстовый блок произвольного форматирования */
.text-block {
  zoom: 1;
  font-size: 0.8125rem /*13/16*/;
  line-height: 1.4;
}
.text-block:before,
.text-block:after {
  content: " ";
  display: table;
}
.text-block:after {
  clear: both;
}
.text-block.text-block-typical {
  font-size: 1rem;
}
.text-block p {
  margin: .8em 0;
}
.text-block a {
  text-decoration: none;
  color: #0082c6;
  border-bottom: solid 1px rgba(0, 130, 198, 0.3);
}
.text-block a:hover {
  border-bottom-color: transparent;
}
.text-block ul,
.text-block ol {
  margin: .5em 0 .5em 1.5rem;
}
.text-block ul li,
.text-block ol li {
  margin: 0 0 .5em;
}
.text-block ul li {
  padding: 0 0 0 0.8125rem /*13/16*/;
  position: relative;
}
.text-block ul li:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #29313d;
  position: absolute;
  left: 0;
  top: .5em;
}
.text-block ul li ul {
  margin-bottom: 0;
  margin-left: 0.8125rem /*13/16*/;
  margin-top: .3em;
}
.text-block ul li li:before {
  background-color: #fff;
  border: solid 1px #29313d;
}
.text-block.bs {
  font-size: 1rem;
}
mark {
  background: #e4f6fe;
}
.blockquote {
  margin: 2rem 0;
  padding: 0.75rem /*12/16*/ 0 0.75rem /*12/16*/ 1.375rem /*22/16*/;
  border-left: solid 4px #00a8ff;
  background: #f6f8fa;
  font-size: 1rem;
}
.blockquote p {
  margin-top: 0;
}
.blockquote-footer {
  font-size: 0.8125rem /*13/16*/;
}
code {
  color: #6c7a86;
  background: #ecf2f5;
  padding: 0 .4rem 2px;
  font-size: .9rem;
}
pre.code {
  border: solid 2px #adb7be;
  padding: 1.375rem /*22/16*/;
  margin: 2rem 0;
}
